.contactList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.contactItem {
  border: 2px solid black;
  padding: 8px;
  display: flex;
  max-width: 300px;
  width: 100%;
  border-radius: 8px;
  justify-content: space-between;
}

.btn {
  margin-top: auto;
  margin-bottom: auto;
}
